ipython>=8.12.3
langchain>=0.2.2
langchain_anthropic>=0.1.15
langchain_community>=0.2.3
langchain_core>=0.2.4
langchain_openai>=0.1.8
langchain_text_splitters>=0.2.1
matplotlib>=3.8.0
numpy>=1.26.4
openai>=1.31.1
pandas>=2.2.2
Requests>=2.32.3
torch>=2.3.0
tqdm>=4.66.4
transformers>=4.41.1
watermark>=2.4.3
